#searchbar{
    padding:15px;
    border-radius: 10px;
    margin: 0 auto;
}

input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
}
.textwhite{
  color: #FFFFFF
}

/* When the input field gets focus,
       change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

 #list{
   font-size:  1.5em;
     width: 100%;
     margin-left: 90px;
}

.tutorials{
  display: list-item;
  list-style-type: none;
  text-align: left;    
 } 
@media only screen and (max-width: 600px){
  input[type=text]{
    width: 90%;
  }
    input[type=text]:focus {
        width: 100%;
    }
     #list{

}
}
@media only screen and (max-width: 900px){
  input[type=text]{
    width: 60%;
  }  
    input[type=text]:focus {
        width: 70%;
    }
         #list{
     margin-left: 45px;
}
}
