#darkModeDetect, #headertitle {
  color: #000000;
}
.centeredtext{
  text-align: center;
}
.biggertext{
  font-size: 30px;
}
.bigtext{
   font-size: 20px;
}
#list{
  font-size:  1.5em;
}
.listelem{
  display: list-item;
  list-style-type: none;
  text-align: left;    
} 
#contents {
  display: none;
  color: #ffffff
}
#homemessage{
  max-height: 100;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
#headersubtitle{
  text-align: center;
  margin: 0 auto;
}
.markdown{
  background-color: #111111;
  font-color: #00ee00
}
.heightx1{
  height: 30px;
}
.heightx2{
  height: 60px;
}
.heightx3{
  height: 90px;
}
.heightx4{
  height: 120px;
}

.dynamictextresolution{
  font-size: 14px;
}
.centered
{
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.centered2
{
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
div.centered-list{
  width: 25%;
  margin: 0 auto
}
@media only screen and (max-width: 600px){
  .dynamictextresolution{
    font-size: 10px;
  }
}
@media only screen and (max-width: 900px){
  .dynamictextresolution{
    font-size: 12px;
  }
}
